h3
{
    color:cornflowerblue;
    border:solid;
    border-radius: 3px;
}
h1
{
    font-size: 30px;
    color:darkblue
}
h2
{
    font-size: 24px;
    
}
:
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif   
}
h1
{
    font-weight: bold;
}
h2
{
    text-decoration: underline;
}
p
{
text-align:left;
}
a:hover
{
text-decoration: underline;
color:green;
}
